@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500;900&family=Poppins:wght@100;200;300;700&display=swap');

*{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f7eef1;
}
        /* Navbar start */
        .navbar {
            background-color: #8946A6;
        }
        .nav-item {
            color: #fff;
        }
        .icons {
            font-size: 30px;
            color: #fff;
            border-radius: 50%;
            padding: 10px;
            background-color: #B762C1;
        }
        .icons:hover {
            background-color: #EA99D5;
        }
        .img-top {
            width: 50px;
            border-radius: 50%;
            background-color: #fff;
            padding: 10px;
        }

        .navegacion{
            margin-left: 300px;
        }
        /* Navbar end */
        /* Home start */
       
        .h-presentacion{
            position: absolute;
            z-index: 10;
            top: 300px;
            left: 100px;
            text-align: center;           

        }
        .home-text{
            color: #fff;
            font-size: 20px;
            font-weight: 700;
        }
        .h-img:before {
            content:'';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,0.9);
        }

        .h-carrusel{
            margin-top: 50px;
            margin-left: 180px;
        }
         
        
        .h-boton{
            background-color: #8946A6;
            border-radius: 15px;
            color: #fff;
        }
       
        .carousel-inner {
            height: 750px;
        }

        .video-home{
            width: 100%;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
          }
    
          @media (min-width: 768px) {
            .bd-placeholder-img-lg {
              font-size: 3.5rem;
            }
          }

       

        /* Home end */
        /* Card start */
        .a {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .a{
            background: rgba( 255, 255, 255, 0.35 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 15.5px );
            -webkit-backdrop-filter: blur( 15.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }
        .a-left {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 80;
        }
        .a-card.bg {
            position: absolute;
            top: 35px;
            right: 10px;
            background-color: #8946A6;
        }
        .a-texto{
            position: absolute;
            z-index: 10;
            top: 120px;
            left: 420px;
            color: #fff;

        }
        .a-parrafo{
            border-radius: 30px;
            opacity: 0.7;
        }
        .a-parrafo p{
            font-size: 15px;
            margin-bottom: 10px;
        }

        .a-parrafo h3{
            font-weight: 700;
        }

        .a-boton{
            margin-left: 40px;
            margin-top: 10px;
            border-radius: 15px;
            background-color: #411c52;
            opacity: 0.7;
            color: #fff;

        }
        .a-card {
            width: 80%;
            height: 65vh;
            border-radius: 50px;        
            position: relative;
            overflow: hidden;
            right: 150px;
            top: 90px;
        }
        .a-img {
            width: 70%;
            border-radius: 30px;
            margin-right: 90px;
        }
        @media screen and (max-width:480px) {
            .a {
                flex-direction: column;
                text-align: center;
                margin-top: 50px;
            }
            .a-left {
                width: 100%;
            }
            .a-card {
                height: 30vh;
            }
            .a-card.bg,
            .a-award {
                display: none;
            }
            .a-right {
                padding: 20px;
            }
            .a-sub {
                margin: 0px;
                font-size: 13px;
            }
            .a-desc {
                font-size: 13px;
            }
            .a-title {
                font-weight: 400;
                margin-top: 10px;
            }
        }
        /* Card end */


        /* Cities start */
        .gallery{
           background-color: #8946A6;
            background-size: cover;
            background-position: center;
            border-radius: 15%;
            display: flex;
            margin-bottom: 30px;
         }

         .gallery {
             display: flex;
             justify-content: center;
             flex-wrap: wrap;
             width: 90%;
             margin: 0 auto;
         }
         
         .gallery a {
             height: 200px;
             width: 300px;
             margin: 20px;
             border-radius: 5px;
             overflow: hidden;
             box-shadow: 0 3px 5px #000;
         }
         
         .gallery a img {
             height: 100%;
             width: 100%;
             object-fit: cover;
         }
         
         .gallery a img:hover {
             transform: scale(1.4);
         }

         .c-texto{
             text-align: center;
         }

         .gallery{
            background: rgba( 255, 255, 255, 0.35 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 15.5px );
            -webkit-backdrop-filter: blur( 15.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
         }

         

        /* Cities end */

        /* Video start */
        video-home{

            width: 100%;
            height: 500px;
            margin: 20px;
           
        }

        /* Video end */

        /* footer start */
        footer{
            background-color: #8946A6;
        }

        footer :link{
            text-decoration: none;
        }

        /* footer end */

        /* search start */

        .search{
            margin-top: 30px;
            margin-left: 450px;
            margin-bottom: 30px;
        }

        /* search end */

        /* City start */
        .distancia{
            margin-left: 80px;
            
            
        }

        .distancia{
                background: rgba( 255, 255, 255, 0.35 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur( 15.5px );
                -webkit-backdrop-filter: blur( 15.5px );
                border-radius: 10px;
                border: 1px solid rgba( 255, 255, 255, 0.18 );
            
        }

        /* City end */